/wrm_up_aspnet/_ReSharper.wrm_up_aspnet/*
/wrm_up_aspnet/*.user
/wrm_up_aspnet/wrm_up_aspnet/bin/*
/wrm_up_aspnet/wrm_up_aspnet/obj/*
/wrm_up_aspnet/wrm_up_aspnet/*.user
.git/
/rdp_queue/_ReSharper.rdp_queue/*
/rdp_queue/*.user
/rdp_queue/*.suo
/rdp_queue/rdp_queue/*
/rdp_queue/rdp_queue_client/bin/*
/rdp_queue/rdp_queue_client/obj/*
/rdp_queue/rdp_queue_client/*.user
/rdp_queue/rdp_queue_service/bin/*
/rdp_queue/rdp_queue_service/obj/*
/rdp_queue/rdp_queue_service/*.user
/rdp_queue/rdp_queue_srv/bin/*
/rdp_queue/rdp_queue_srv/obj/*
/rdp_queue/rdp_queue_srv/*.user
/rdp_queue/rdp_srv/bin/*
/rdp_queue/rdp_srv/obj/*
/rdp_queue/rdp_srv/*.user
/rdp_queue/lg_hk/bin/*
/rdp_queue/lg_hk/obj/*
/rdp_queue/lg_hk/*.user
/rstfl_srvc/_ReSharper.rstfl_srvc/*
/rstfl_srvc/*.user
/rstfl_srvc/*.suo
/rstfl_srvc/rstfl_srvc/bin/*
/rstfl_srvc/rstfl_srvc/obj/*
/rstfl_srvc/rstfl_srvc/*.user
/rstfl_srvc/rstfl_srvc/*.suo
/rstfl_srvc/rstfl_client/bin/*
/rstfl_srvc/rstfl_client/obj/*
/rstfl_srvc/rstfl_client/*.user
/rstfl_srvc/rstfl_client/*.suo
/integration/*.user
/integration/*.suo
/integration/restfull_service/bin/*
/integration/restfull_service/obj/*
/integration/restfull_service/*.user
/integration/restfull_service/*.suo
