<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRdpQueueService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/rdp_queue" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRdpQueueService" contract="rdp_queue_service.IRdpQueueService"
                name="BasicHttpBinding_IRdpQueueService" />
        </client>
    </system.serviceModel>
</configuration>