<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="me" value="this name of user"/>
	</appSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRdpQueueService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1235/rdp_queue" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRdpQueueService" contract="rdp_queue_service.IRdpQueueService"
                name="WSHttpBinding_IRdpQueueService">
                <identity>
                    <dns value="localhost/user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>