<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="userId" value="adm"/>
		<add key="password" value="psw"/>
		<add key="dns" value="lcl"/>
		<add key="aut" value="yes"/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRdpQueueService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://1lcl:1235/rdp_queue" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IRdpQueueService" contract="queue_srv.IRdpQueueService"
        name="WSHttpBinding_IRdpQueueService">
        <identity>
          <dns value="lcl" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>